.CounterDelta {
  position: absolute;
  margin-top: -20rem;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  margin-bottom: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
