.PlayerCounterContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.OnePlayer .Counter,
.ThreePlayers .Counter
{
  height: 40vh;
}

.OnePlayer .PlayerCounterContainer {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.TwoPlayers .PlayerCounterContainer {
  height: 50vh;
  width: 100vw;
}

.ThreePlayers .PlayerCounterContainer {
  height: 100vh;
  width: 33vw;
  flex-direction: column;
}
.ThreePlayers,
.FourPlayers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FourPlayers .PlayerCounterContainer {
  height: 50vh;
  width: 50vw;
}

.TwoPlayers .PlayerCounterContainer:first-of-type {
  transform: rotateZ(180deg);
}

.Decima {
  background-image: url("../../public/decima.jpg");
}

.Hakseity {
  background-image: url("../../public/hakseity.jpg");
}

.KoSynWu {
  background-image: url("../../public/ko-syn-wu.jpg");
}

.Hegiminus {
  background-image: url("../../public/hegiminus.jpg");
}

.Rez {
  background-image: url("../../public/rez.jpg");
}
